.collection-preview {
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: bold;
  }
  .preview {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
