.collection-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 22%;
  height: 350px;
}

.image {
  width: 100%;
  height: 95%;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}

.collection-footer {
  height: 5%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 18px;

  .name {
    width: 90%;
    margin-bottom: 15px;
  }

  .price {
    width: 10%;
  }
}

@media screen and (max-width: 800px) {
  .collection-item {
    width: 48%;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 500px) {
  .collection-item {
    width: 100%;
  }
}
