.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  .title {
    margin: 10px 0;
  }
}
#error {
  color: red;
  margin-top: 10px;
}

@media only screen and (max-width: 500px) {
  .sign-up {
    width: 100%;
  }
}
