.menu-item {
  min-width: 30%;
  height: 240px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: 0 7.5px 15px;
  background-size: cover;
  background-position: center;

  .content {
    height: 90px;
    border: 1px solid black;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .title {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 22px;
    color: #4a4a4a;
  }

  .subtitle {
    font-weight: lighter;
    font-size: 16px;
  }

  &.large {
    height: 380px;
  }
}
